In [1]:
import sys
sys.path.append("../..")

from app.components.extract_data.extract_data import * # Readind and initialization of the datasets
from app.components.extract_data.dataframes.strata import split_into_stratas

Import from app
Reading the datasets
Creating person ID
Removing unnecessary columns
Convert codes into readable

In [2]:
dfConsumo[["V9005", "V9007", 'V9001', 'QTD', 'GRAMATURA1', 'COD_TBCA']] 
# Consumo alimentar
# V9005: Quantidade caseira
# V9007: Unidade de medida: Cadastro de Unidades de Medidas do Consumo Alimentar
# GRAMATURA1: Quantidade de gramas por unidade caseira
# QTD: Quantidade em gramas
# COD_TBCA: Codigo do alimento TBCA
# V9001: Código do alimento: Cadastro de Produtos do Consumo Alimentar

         V9005  V9007      V9001     QTD  GRAMATURA1   COD_TBCA
0          1.0   61.0  8000101.0    70.0       70.00  b'C0002A'
1          NaN    NaN  7901602.0    14.0         NaN  b'C0008D'
2          1.0   13.0  8501303.0   150.0      150.00  b'C0081H'
3          NaN    NaN  6906602.0    15.0         NaN  b'C0007K'
4          2.0    7.0  6300101.0    90.0       45.00  b'C0209A'
...        ...    ...        ...     ...         ...        ...
1175372    6.0   62.0  8002301.0    30.0        5.00  b'C0027A'
1175373    2.0   62.0  8000229.0    17.7        8.85  b'C0417A'
1175374    1.0   46.0  8500921.0   190.0      190.00  b'C0395A'
1175375    3.0   38.0  8300101.0   807.0      269.00  b'C0009H'
1175376    6.0   19.0  8201004.0  1440.0      240.00  b'C0145H'

[644610 rows x 6 columns]

In [3]:
dfPerson.head()

,PESSOA,ENERGIA_KCAL,CHOTOT,PTN,LIP,FIBRA,COLEST,CALCIO,SODIO,POTASSIO,...,VITC,VITA_RAE,COBRE,FOLATO,FOSFORO,ZINCO,UF,RENDA_TOTAL,ESTRATO_POF,EER
0,110000016.0#1.0#12.0#2.0,1710.90,201.76700,93.79800,59.77300,5.64800,345.50300,218.4860,1532.82000,1420.46300,...,32.316,158.0360,0.58700,120.33600,859.45900,6.04400,11.0,4353.51,1101.0,2022.16
1,110000016.0#1.0#12.0#3.0,1447.55,211.72850,66.35600,38.40600,6.69200,233.74300,181.5510,1124.75600,1470.25250,...,13.780,64.9340,0.44800,97.87300,624.65000,4.20600,11.0,4353.51,1101.0,1940.10
2,110000016.0#1.0#13.0#1.0,1654.63,214.56008,72.97622,63.32802,31.54542,184.57752,438.5491,2232.17768,3639.49704,...,67.380,373.1730,1.68996,324.07148,978.20546,7.35082,11.0,1367.63,1101.0,2003.41
3,110000016.0#1.0#2.0#1.0,1517.45,222.61650,62.84800,47.73160,26.33600,84.57700,211.9484,1679.27420,1827.59990,...,7.803,570.9620,1.50800,203.46180,689.42920,10.94800,11.0,3855.34,1101.0,2388.84
4,110000016.0#1.0#2.0#2.0,1307.95,206.18650,42.30650,40.17660,23.36950,46.93100,199.1539,1411.21920,1418.90640,...,6.480,481.5435,1.32150,192.10080,511.20520,6.86450,11.0,3855.34,1101.0,1765.61