In [1]:
import sys
sys.path.append("../..")

In [2]:

import pandas

from pandas import DataFrame

# Import dictonaries and Types
from app.components.basic_dataframes import dictMealState, dfMealCode, dfMealState
from app.components.simple_types import Nutrition, State
from app.components.extract_data.extract_data import getDictPersonIdStrata

# Use simple function
from app.components.search.papa_search import papaSingleSeach, SearchResult

Loading basic data
Loading basic dictionary
Finish!

In [3]:
from app.components.extract_data.extract_data import getDfConsumo, getDfPersonAdultsFemale, getDfPersonAdultsMale, getDfPersonAdults, getDfPerson, getDictNutritionByMeal

dfPerson = getDfPerson()

In [4]:
dfPerson[["PESSOA", "AGE", "GENDER"]][ (dfPerson["AGE"]>=25) & (dfPerson["AGE"]<=65)]

                         PESSOA   AGE  GENDER
0      110000016.0#12.0#1.0#2.0  32.0  female
2      110000016.0#13.0#1.0#1.0  53.0  female
3       110000016.0#2.0#1.0#1.0  64.0    male
4       110000016.0#2.0#1.0#2.0  61.0  female
5       110000016.0#2.0#1.0#3.0  41.0    male
...                         ...   ...     ...
46155   530044198.0#2.0#1.0#1.0  50.0    male
46156   530044198.0#2.0#1.0#2.0  50.0  female
46159   530044198.0#3.0#1.0#1.0  50.0    male
46162   530044198.0#9.0#1.0#1.0  41.0  female
46163   530044198.0#9.0#1.0#2.0  52.0    male

[28635 rows x 3 columns]

In [5]:
dfPerson = getDfPersonAdults()

In [6]:
dfPerson[["PESSOA", "AGE", "GENDER"]]

                         PESSOA   AGE  GENDER
0      110000016.0#12.0#1.0#2.0  32.0  female
2      110000016.0#13.0#1.0#1.0  53.0  female
3       110000016.0#2.0#1.0#1.0  64.0    male
4       110000016.0#2.0#1.0#2.0  61.0  female
5       110000016.0#2.0#1.0#3.0  41.0    male
...                         ...   ...     ...
46155   530044198.0#2.0#1.0#1.0  50.0    male
46156   530044198.0#2.0#1.0#2.0  50.0  female
46159   530044198.0#3.0#1.0#1.0  50.0    male
46162   530044198.0#9.0#1.0#1.0  41.0  female
46163   530044198.0#9.0#1.0#2.0  52.0    male

[28635 rows x 3 columns]

In [7]:
getDfPersonAdultsFemale()

,PESSOA,ENERGIA_KCAL,CHOTOT,PTN,LIP,FIBRA,COLEST,CALCIO,SODIO,POTASSIO,...,FOSFORO,ZINCO,UF,RENDA_TOTAL,ESTRATO_POF,EER,AGE,HEIGHT,WEIGHT,GENDER
0,110000016.0#12.0#1.0#2.0,1710.900,201.76700,93.79800,59.77300,5.64800,345.50300,218.48600,1532.82000,1420.46300,...,859.45900,6.04400,11.0,4353.51,1101.0,2022.16,32.0,151.0,57.0,female
2,110000016.0#13.0#1.0#1.0,1654.630,214.56008,72.97622,63.32802,31.54542,184.57752,438.54910,2232.17768,3639.49704,...,978.20546,7.35082,11.0,1367.63,1101.0,2003.41,53.0,168.0,66.0,female
4,110000016.0#2.0#1.0#2.0,1307.950,206.18650,42.30650,40.17660,23.36950,46.93100,199.15390,1411.21920,1418.90640,...,511.20520,6.86450,11.0,3855.34,1101.0,1765.61,61.0,144.0,53.0,female
7,110000016.0#7.0#1.0#2.0,1601.755,160.72095,63.35155,80.97520,10.81480,189.86300,439.95825,2775.95890,1266.46715,...,772.16155,11.09955,11.0,6253.24,1101.0,2008.56,36.0,145.0,58.0,female
10,110000584.0#10.0#1.0#1.0,1294.630,182.29050,54.85830,43.54400,22.66770,414.55050,149.66890,1675.40860,2540.49120,...,659.72360,6.62060,11.0,4140.14,1101.0,2416.82,46.0,158.0,92.0,female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46151,530042964.0#9.0#1.0#2.0,963.250,140.44500,47.83050,27.67450,19.84350,584.59300,188.52950,1367.65500,1372.67550,...,732.24750,6.43950,53.0,8540.58,5305.0,1898.66,58.0,140.0,61.0,female
46152,530042964.0#9.0#1.0#4.0,1431.435,243.05955,45.67230,36.72200,26.53120,144.91765,423.07365,1593.43415,1825.06570,...,769.69805,4.87425,53.0,8540.58,5305.0,1993.42,26.0,166.0,52.0,female
46153,530044198.0#11.0#1.0#1.0,1933.000,246.74050,68.43250,78.48950,16.38900,166.55450,1449.83000,1956.29000,2313.64150,...,1219.44800,11.88900,53.0,1569.03,5301.0,1958.21,25.0,157.0,49.0,female
46156,530044198.0#2.0#1.0#2.0,936.940,100.97490,40.55990,43.56496,10.27240,99.13060,275.14004,885.92722,1387.08254,...,569.21022,9.30190,53.0,24739.80,5301.0,2290.90,50.0,164.0,85.0,female
46162,530044198.0#9.0#1.0#1.0,1101.715,123.71514,68.93866,40.62661,17.44411,498.41876,250.99770,1105.24014,1812.49727,...,803.16223,6.91746,53.0,31051.45,5301.0,2367.13,41.0,163.0,86.0,female

In [8]:
getDfPersonAdultsMale()

,PESSOA,ENERGIA_KCAL,CHOTOT,PTN,LIP,FIBRA,COLEST,CALCIO,SODIO,POTASSIO,...,FOSFORO,ZINCO,UF,RENDA_TOTAL,ESTRATO_POF,EER,AGE,HEIGHT,WEIGHT,GENDER
3,110000016.0#2.0#1.0#1.0,1517.450,222.61650,62.84800,47.73160,26.33600,84.57700,211.94840,1679.27420,1827.59990,...,689.42920,10.94800,11.0,3855.34,1101.0,2388.840,64.0,154.0,64.0,male
5,110000016.0#2.0#1.0#3.0,1404.550,194.78750,90.52300,35.89260,29.46900,122.22300,219.59740,2623.22120,2241.43290,...,989.77520,16.71200,11.0,3855.34,1101.0,2989.870,41.0,180.0,80.0,male
6,110000016.0#7.0#1.0#1.0,2130.860,207.80540,102.85660,101.97780,14.08460,373.53600,776.74560,3454.54460,1879.41840,...,1262.93440,18.83460,11.0,6253.24,1101.0,2932.530,37.0,168.0,76.0,male
15,110000602.0#2.0#1.0#1.0,2130.140,183.96150,134.59940,100.89730,26.84010,550.94000,281.01810,1898.28000,2865.23570,...,1270.08350,14.92410,11.0,1918.01,1107.0,2756.185,53.0,175.0,75.0,male
16,110000602.0#5.0#1.0#1.0,2558.760,387.23690,79.27935,82.22825,23.61410,374.62690,502.63225,2516.60945,2151.13825,...,1104.55710,8.74775,11.0,5772.36,1107.0,2851.725,58.0,180.0,81.0,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46150,530042964.0#9.0#1.0#1.0,1047.700,179.08300,55.29250,18.57100,28.95600,97.88200,275.54500,1783.88500,1607.22200,...,676.63400,6.57000,53.0,8540.58,5305.0,2489.025,61.0,172.0,67.0,male
46154,530044198.0#12.0#1.0#1.0,1445.495,168.79888,54.55089,40.15098,8.06877,140.60187,747.06229,1624.95720,1355.24815,...,907.15997,9.23614,53.0,672.99,5301.0,2712.780,25.0,169.0,62.0,male
46155,530044198.0#2.0#1.0#1.0,1657.240,260.90850,63.77200,43.41470,15.39380,139.47460,732.66200,1693.04670,2207.21150,...,950.63140,12.44870,53.0,24739.80,5301.0,2999.560,50.0,174.0,84.0,male
46159,530044198.0#3.0#1.0#1.0,3677.790,303.06040,157.57610,114.32300,15.86950,418.80350,1050.78490,3898.09930,3238.61370,...,2141.30100,13.26930,53.0,35197.60,5301.0,3810.970,50.0,185.0,118.0,male
46163,530044198.0#9.0#1.0#2.0,1603.280,205.87150,57.80760,64.33320,15.99250,324.06950,642.55610,2833.04010,2003.86460,...,961.63530,8.79630,53.0,31051.45,5301.0,2503.200,52.0,163.0,64.0,male