In [3]:
import sys
sys.path.append("../..")

In [38]:
import pickle
from pandas import DataFrame
import pandas as pd
import numpy as np
import os
import pyreadstat
import chardet

datasetPath = os.getcwd() + "/../../datasets/"
datasetPicklePath = os.getcwd() + "/../../datasets/pickle"

consumoPath = "CONSUMO_ALIMENTAR.txt"

In [39]:
# Detectar a codificação do arquivo
with open(datasetPath + consumoPath, 'rb') as file:
    result = chardet.detect(file.read())
    print("Codificação detectada:", result['encoding'])

Codificação detectada: ascii

In [54]:
def criarPessoa(row):
    """
    Create the person id given a row
    COD_UPA + NUM_DOM + NUM_UC  + COD_INFORMANTE
    """
    return f'{row["COD_UPA"]}#{row["NUM_DOM"]}#{row["NUM_UC"]}#{row["COD_INFORMANTE"]}'

In [97]:
convertersGlobal= {
        'UF': lambda x: str(x),
        'ESTRATO_POF': lambda x: int(x),
        'TIPO_SITUACAO_REG': lambda x: str(x),
        'COD_UPA': lambda x: str(x),
        'NUM_DOM': lambda x: str(x),
        'NUM_UC': lambda x: str(x),
        'COD_INFORMANTE ': lambda x: str(x),
        'QUADRO': lambda x: int(x),
        'SEQ': lambda x: int(x),
        'V9005': lambda x: str(x),
        'V9007': lambda x: str(x),
        'V9001': lambda x: int(x),
        'V9015': lambda x: str(x),
        'V9016': lambda x: str(x),
        'V9017': lambda x: str(x),
        'V9018': lambda x: str(x),
        'V9019': lambda x: str(x),
        'V9020': lambda x: str(x),
        'V9021': lambda x: str(x),
        'V9022': lambda x: str(x),
        'V9023': lambda x: str(x),
        'V9024': lambda x: str(x),
        'V9025': lambda x: str(x),
        'V9026': lambda x: str(x),
        'V9027': lambda x: str(x),
        'V9028': lambda x: str(x),
        'V9029': lambda x: str(x),
        'V9030': lambda x: str(x),
        'COD_UNIDADE_MEDIDA_FINAL': lambda x: str(x),
        'COD_PREPARACAO_FINAL': lambda x: int(x),
        'GRAMATURA1': lambda x: float(x),
        'QTD': lambda x: float(x),
        'COD_TBCA': lambda x: str(x),
        'ENERGIA_KCAL': lambda x: float(x),
        'ENERGIA_KJ': lambda x: float(x),
        'PTN': lambda x: float(x),
        'CHOTOT': lambda x: float(x),
        'FIBRA': lambda x: float(x),
        'LIP': lambda x: float(x),
        'COLEST': lambda x: float(x),
        'AGSAT': lambda x: float(x),
        'AGMONO': lambda x: float(x),
        'AGPOLI': lambda x: float(x),
        'AGTRANS': lambda x: float(x),
        'CALCIO': lambda x: float(x),
        'FERRO': lambda x: float(x),
        'SODIO': lambda x: float(x),
        'MAGNESIO': lambda x: float(x),
        'FOSFORO': lambda x: float(x),
        'POTASSIO': lambda x: float(x),
        'COBRE': lambda x: float(x),
        'ZINCO': lambda x: float(x),
        'VITA_RAE': lambda x: float(x),
        'TIAMINA': lambda x: float(x),
        'RIBOFLAVINA': lambda x: float(x),
        'NIACINA': lambda x: float(x),
        'PIRIDOXAMINA': lambda x: float(x),
        'COBALAMINA': lambda x: float(x),
        'VITD': lambda x: float(x),
        'VITE': lambda x: float(x),
        'VITC': lambda x: float(x),
        'FOLATO': lambda x: float(x),
        'PESO': lambda x: float(x),
        'PESO_FINAL': lambda x: float(x),
        'RENDA_TOTAL': lambda x: float(x),
        'DIA_SEMANA': lambda x: str(x),
        'DIA_ATIPICO' : lambda x: str(x)
}

In [108]:
def getDfConsumo() -> DataFrame:
    """Dataframe with meals registries
    Get dfConsumo with columns:
    TODO:
    x:..
    y:..
    z:..
    """

    try:
        with open(datasetPicklePath + "/dfConsumo.pickle", "rb") as file:
            return pickle.load(file)
    except (FileNotFoundError, EOFError, pickle.UnpicklingError) as e:
        
        
#                      2,4,1,9,2,1,2,2,2,4,2,7,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1
#    2,2,7,9,6,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,
#    14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,15,10,15,1

        labels = [[2,4,1,9,2,1,2,2,2,4,2,7,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
   2,2,7,9,6,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,
   14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,15,10,15,1],
        ['UF',
        'ESTRATO_POF',
        'TIPO_SITUACAO_REG',
        'COD_UPA',
        'NUM_DOM',
        'NUM_UC',
        'COD_INFORMANTE',
        'QUADRO',
        'SEQ',
        'V9005',
        'V9007',
        'V9001',
        'V9015',
        'V9016',
        'V9017',
        'V9018',
        'V9019',
        'V9020',
        'V9021',
        'V9022',
        'V9023',
        'V9024',
        'V9025',
        'V9026',
        'V9027',
        'V9028',
        'V9029',
        'V9030',
        'COD_UNIDADE_MEDIDA_FINAL',
        'COD_PREPARACAO_FINAL',
        'GRAMATURA1',
        'QTD',
        'COD_TBCA',
        'ENERGIA_KCAL',
        'ENERGIA_KJ',
        'PTN',
        'CHOTOT',
        'FIBRA',
        'LIP',
        'COLEST',
        'AGSAT',
        'AGMONO',
        'AGPOLI',
        'AGTRANS',
        'CALCIO',
        'FERRO',
        'SODIO',
        'MAGNESIO',
        'FOSFORO',
        'POTASSIO',
        'COBRE',
        'ZINCO',
        'VITA_RAE',
        'TIAMINA',
        'RIBOFLAVINA',
        'NIACINA',
        'PIRIDOXAMINA',
        'COBALAMINA',
        'VITD',
        'VITE',
        'VITC',
        'FOLATO',
        'PESO',
        'PESO_FINAL',
        'RENDA_TOTAL',
        'DIA_SEMANA',
        'DIA_ATIPICO']]
        
        converters = {
        'UF': lambda x: str(x),
        'ESTRATO_POF': lambda x: int(x),
        'TIPO_SITUACAO_REG': lambda x: str(x),
        'COD_UPA': lambda x: str(x),
        'NUM_DOM': lambda x: str(x),
        'NUM_UC': lambda x: str(x),
        'COD_INFORMANTE': lambda x: str(x),
        'QUADRO': lambda x: int(x),
        'SEQ': lambda x: int(x),
        'V9005': lambda x: str(x),
        'V9007': lambda x: str(x),
        'V9001': lambda x: int(x),
        'V9015': lambda x: str(x),
        'V9016': lambda x: str(x),
        'V9017': lambda x: str(x),
        'V9018': lambda x: str(x),
        'V9019': lambda x: str(x),
        'V9020': lambda x: str(x),
        'V9021': lambda x: str(x),
        'V9022': lambda x: str(x),
        'V9023': lambda x: str(x),
        'V9024': lambda x: str(x),
        'V9025': lambda x: str(x),
        'V9026': lambda x: str(x),
        'V9027': lambda x: str(x),
        'V9028': lambda x: str(x),
        'V9029': lambda x: str(x),
        'V9030': lambda x: str(x),
        'COD_UNIDADE_MEDIDA_FINAL': lambda x: str(x),
        'COD_PREPARACAO_FINAL': lambda x: int(x),
        'GRAMATURA1': lambda x: float(x),
        'QTD': lambda x: float(x),
        'COD_TBCA': lambda x: str(x),
        'ENERGIA_KCAL': lambda x: float(x),
        'ENERGIA_KJ': lambda x: float(x),
        'PTN': lambda x: float(x),
        'CHOTOT': lambda x: float(x),
        'FIBRA': lambda x: float(x),
        'LIP': lambda x: float(x),
        'COLEST': lambda x: float(x),
        'AGSAT': lambda x: float(x),
        'AGMONO': lambda x: float(x),
        'AGPOLI': lambda x: float(x),
        'AGTRANS': lambda x: float(x),
        'CALCIO': lambda x: float(x),
        'FERRO': lambda x: float(x),
        'SODIO': lambda x: float(x),
        'MAGNESIO': lambda x: float(x),
        'FOSFORO': lambda x: float(x),
        'POTASSIO': lambda x: float(x),
        'COBRE': lambda x: float(x),
        'ZINCO': lambda x: float(x),
        'VITA_RAE': lambda x: float(x),
        'TIAMINA': lambda x: float(x),
        'RIBOFLAVINA': lambda x: float(x),
        'NIACINA': lambda x: float(x),
        'PIRIDOXAMINA': lambda x: float(x),
        'COBALAMINA': lambda x: float(x),
        'VITD': lambda x: float(x),
        'VITE': lambda x: float(x),
        'VITC': lambda x: float(x),
        'FOLATO': lambda x: float(x),
        'PESO': lambda x: float(x),
        'PESO_FINAL': lambda x: float(x),
        'RENDA_TOTAL': lambda x: float(x),
        'DIA_SEMANA': lambda x: str(x),
        'DIA_ATIPICO' : lambda x: str(x)
}

        dfConsumo = pd.read_fwf(datasetPath + consumoPath, widths=labels[0], index=False, header=None, dtype=str, encoding="ascii")
        dfConsumo.columns = labels[1]
        
        dfConsumo = dfConsumo.fillna(0)
        
        for col in dfConsumo.columns:
            dfConsumo[col] = dfConsumo[col].apply(converters[col])
        
        dfConsumo = dfConsumo[dfConsumo.QUADRO == 72]
        dfConsumo["PESSOA"] = dfConsumo.apply(lambda row: criarPessoa(row), axis=1)


        # with open(datasetPicklePath + "/dfConsumo.pickle", "wb") as file:
        #     pickle.dump(dfConsumo, file)

        return dfConsumo

In [109]:
dfConsumo = getDfConsumo()

In [ ]:
dfConsumo[["V9005","V9007","V9001","V9015","V9016"]].isna().sum()

V9005    0
V9007    0
V9001    0
V9015    0
V9016    0
dtype: int64

In [110]:
dfConsumo["RENDA_TOTAL"]

0          3855.34
1          3855.34
2          3855.34
3          3855.34
4          3855.34
            ...
1175372     672.99
1175373     672.99
1175374     672.99
1175375     672.99
1175376     672.99
Name: RENDA_TOTAL, Length: 644610, dtype: float64

In [115]:
dfConsumo[ dfConsumo["RENDA_TOTAL"] > 100]

,UF,ESTRATO_POF,TIPO_SITUACAO_REG,COD_UPA,NUM_DOM,NUM_UC,COD_INFORMANTE,QUADRO,SEQ,V9005,...,VITD,VITE,VITC,FOLATO,PESO,PESO_FINAL,RENDA_TOTAL,DIA_SEMANA,DIA_ATIPICO,PESSOA
0,11,1101,1,110000016,2,1,1,72,1,1.0,...,0.00000,0.12600,0.00000,104.6850,1316.609446,2390.486523,3855.34,Quarta-Feira,2,110000016#2#1#1
1,11,1101,1,110000016,2,1,1,72,1,0,...,0.00000,0.79240,0.00000,0.1358,1316.609446,2390.486523,3855.34,Quarta-Feira,2,110000016#2#1#1
2,11,1101,1,110000016,2,1,1,72,2,1.0,...,0.00000,0.07500,0.00000,5.0850,1316.609446,2390.486523,3855.34,Quarta-Feira,2,110000016#2#1#1
3,11,1101,1,110000016,2,1,1,72,2,0,...,0.00000,0.00000,0.00000,0.0000,1316.609446,2390.486523,3855.34,Quarta-Feira,2,110000016#2#1#1
4,11,1101,1,110000016,2,1,1,72,3,2.0,...,0.00000,0.16200,0.40500,2.4120,1316.609446,2390.486523,3855.34,Quarta-Feira,2,110000016#2#1#1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175372,53,5301,1,530044198,12,1,1,72,4,6.0,...,0.00000,0.00000,1.86600,60.2700,1013.544041,1139.351861,672.99,Sexta-Feira,2,530044198#12#1#1
1175373,53,5301,1,530044198,12,1,1,72,5,2.0,...,0.00531,0.04248,0.06726,9.9297,1013.544041,1139.351861,672.99,Sexta-Feira,2,530044198#12#1#1
1175374,53,5301,1,530044198,12,1,1,72,6,1.0,...,0.19000,2.16600,1.25400,75.4490,1013.544041,1139.351861,672.99,Sexta-Feira,2,530044198#12#1#1
1175375,53,5301,1,530044198,12,1,1,72,7,3.0,...,0.00000,0.00000,0.00000,48.4200,1013.544041,1139.351861,672.99,Sexta-Feira,2,530044198#12#1#1
1175376,53,5301,1,530044198,12,1,1,72,8,6.0,...,0.00000,0.00000,0.00000,0.0000,1013.544041,1139.351861,672.99,Sexta-Feira,2,530044198#12#1#1

In [116]:
dfConsumo.PESSOA

0           110000016#2#1#1
1           110000016#2#1#1
2           110000016#2#1#1
3           110000016#2#1#1
4           110000016#2#1#1
                 ...
1175372    530044198#12#1#1
1175373    530044198#12#1#1
1175374    530044198#12#1#1
1175375    530044198#12#1#1
1175376    530044198#12#1#1
Name: PESSOA, Length: 644610, dtype: object

In [118]:
personID = "110000016#7#1#5"

dfConsumo[ dfConsumo["PESSOA"] == personID ][ ["QTD", "ENERGIA_KCAL", "ENERGIA_KJ", "PTN", "CHOTOT", "V9001" ] ]

       QTD  ENERGIA_KCAL  ENERGIA_KJ      PTN   CHOTOT    V9001
170   50.0         18.00       76.00   0.8650   1.8150  8501303
171    5.0         19.85       84.30   0.0080   4.9515  6906602
172   45.0         62.10      262.35   1.0800  13.1085  6300101
173   17.0         13.43       56.10   0.7973   2.4837  6303102
174   90.0        236.70      990.90  29.5920   0.0000  7108902
175  240.0          0.00        0.00   0.0000   0.0000  8201004
176   80.0         48.80      203.20   0.9040   3.2560  8510601
177   16.0        144.00      592.00   0.0000   0.0000  8400101
178   65.0        313.30     1315.60   3.8675  46.1240  8004801
179  150.0         55.50      237.00   1.0350  12.7050  8500401
180  150.0          0.00        0.00   0.0000   0.0000  8201004
181  200.0        564.00     2366.00  28.1200  58.8200  8500903
182   40.0        122.40      505.20   0.2320   3.1600  7004301
183   20.0         25.60      103.20   0.3480   5.9620  7004802
184  300.0        105.00      441.00   0.0000  25.9800  8200101