In [2]:
import sys
sys.path.append("../..")

In [3]:
import pandas as pd
from pandas import DataFrame

import os

from bokeh.io import export_png, export_svgs
from bokeh.models import ColumnDataSource, DataTable, TableColumn
from pandas import DataFrame



# Use simple function
from app.components.search.papa_search import papaSingleSeach, SearchResult

from app.components.graphs.polar import plot_multiple_polar_charts

from app.components.extract_data.dataframes.dictionaries.nutrients import nutrients_signal

import random
import pickle
from IPython.display import clear_output

# Use simple function
from app.components.search.papa_search import papaSingleSeach, SearchResult

Loading basic data
Loading basic dictionary
Finish!

In [4]:
dataset = pd.read_sas(os.getcwd()+"/../../datasets/processed.sas7bdat")

In [5]:
# Import dictonaries and Types
from app.components.basic_dataframes import dictMealState, dfMealCode, dfMealState
from app.components.simple_types import Nutrition, State
from app.components.extract_data.extract_data import *

In [6]:
meal_codes = get_meals_codes()

In [12]:
print(len(meal_codes))

1501

In [7]:
meal_nutrients = getDictNutritionByMeal()

In [8]:
dataset[ dataset["cod_pof_18"]==8000101 ]

,cod_pof_18,prep_pof_18,natura_kcal1,ing_kcal1,proc_kcal1,ultra_kcal1,kcal1
1739,8000101.0,99.0,0.0,0.0,299.725555,0.0,299.725555

In [9]:
print(len(meal_nutrients[8000101]))
print(meal_nutrients[8000101])

25
{'ENERGIA_KCAL': 3.0, 'CHOTOT': 0.6164000000000001, 'PTN': 0.0983, 'LIP': 0.0212, 'FIBRA': 0.026099999999999998, 'COLEST': 0.0, 'CALCIO': 0.1418, 'AGTRANS': 0.0025, 'AGSAT': 0.0068, 'AGPOLI': 0.0048000000000000004, 'SODIO': 6.819, 'POTASSIO': 1.497, 'FERRO': 0.043300000000000005, 'MAGNESIO': 0.2488, 'TIAMINA': 0.0040999999999999995, 'RIBOFLAVINA': 0.007, 'PIRIDOXAMINA': 0.0063, 'NIACINA': 0.0246, 'COBALAMINA': 0.0, 'VITC': 0.0, 'VITA_RAE': 0.020399999999999998, 'COBRE': 0.0014, 'FOLATO': 1.4955, 'FOSFORO': 0.9975, 'ZINCO': 0.008199999999999999}

In [10]:
meal_codes

        V9001
0     8000101
1     7901602
2     8501303
3     6906602
4     6300101
...       ...
1496  8008201
1497  7805401
1498  8500345
1499  8500358
1500  8579079

[1501 rows x 1 columns]